<% @users_all.includes(:posts).each do |user| %>
  <%= link_to user_path(user), class: "link" do %>
    <div class="single-user">
      <div class="single-user-image">
        <img src="<%= user.photo %>">
      </div>
      <div class="single-user-info">
      <% if current_user.id == user.id %>
        <h2><%= user.name %>⭐</h2>
        <% else %>
        <h2><%= user.name %></h2>
        <% end %>
        <span>Posts: <%= user.posts.length %></span>
      </div>
    </div>
  <% end %>
<% end %>