<%= render "layouts/header" %>
<main>
  <%= render "users/single_user_info" %>
  <section class="single-user-container">

      <%= render "users/single_user_bio" %>

      <%= render "posts/post" %>

      <div class="buttons">
        <%= render "users/all_posts_btn" %>
        <%= render "users/create_new_post" %>
      </div>
  </section>
</main>
