<%= render "layouts/header" %>
<main>
  <section class="single-user-container">
      <%= render "users/single_user_info" %>

      <%= render "users/single_user_bio" %>

      <%= render "posts/post" %>

      <div class="buttons">
        <%= render "users/all_posts_btn" %>

        <% if current_user.id == @user.id %>
        <%= render "users/create_new_post" %>
        <% end %>
      </div>

  </section>
</main>
