<%= render "layouts/header" %>
<main>
  <%= render "users/single_user_info" %>
  <section class="single-user-container">
    <% @posts.each do |post| %>
      <div>
        <div class="single-user-single-post">
          <%= link_to user_post_path(@user, post), class: "link" do %>
            <div>
              <p>[Post <%= post.id %>]</p>
              <h3><strong><%= post.title %></strong></h3>
            </div>
          <% end %>
          <p>
            <%= post.text %>
          </p>
          <div>
            <span>💬Comments: <%= post.comments.length %></span>
            <span>❤️Likes: <%= post.likes.length %></span>
            <% if can? :destroy, post %>
            <%= form_with model: post, url: user_post_path(@user, post), method: :delete do |form| %>
              <%= form.submit "Delete Post", class: "delete-button" %>
            <% end %>
          <% end %>
          </div>
    
        </div>
        <div class="single-user-single-post-comments">
          <% post.last_five_posts.each do |comment| %>
            <div class="comment-info-delete-button-div">
              <div class="single-user-single-post-single-comment">
                <p><strong><%= comment.user.name %>:</strong></p>
                <p><%= comment.text %></p>
              </div>
              <% if can? :destroy, comment %>
                <%= form_with model: comment, url: user_post_comment_path(@user, post, comment), method: :delete do |form| %>
                  <%= form.submit "X", class: "delete-button" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
    </div>
    <% end %>

  </section>
</main>
