<main>
  <section class="single-post-container">
    <div>
      <div class="single-user-single-post">
        <h3>Post <%= @post.id %></h3>
        <p><%= @post.text %></p>
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
      <div class="single-user-single-post-comments">
        <% @post.comments.each do |comment| %>
          <h3><%= comment.user.name %>: </h3>
          <p><%= comment.text %></p>
        <% end %>
      </div>
    </div>
  </section>
</main>