<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header-container">
      <div>
        MyLogo
      </div>
      <ul>
        <li>
          <a href="/">users index</a>
        </li>
        <li>
          <a href="/users/show">users show</a>
        </li>
        <li>
          <a href="/users/show/posts/">posts index</a>
        </li>
        <li>
          <a href="/users/show/posts/show">posts show</a>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
